<% content_for(:page_title) do %>
  <% @page_title = "New recipe" %>
  <h1>New recipe</h1>
<% end %>

<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to "Recipes", recipes_path %>
    <span class="divider">&raquo;</span>
    New
  <% end %>
<% end %>

<%= form_for(:recipe, :url => recipes_path) do |f| %>

  <%= render("form", { :form => f }) %>

  <%= link_to 'Back to recipes', recipes_path, class: 'arrow_link ontheright' %>

  <p>
    <%= submit_tag "Create recipe" %>
  </p>
<% end %>
