<% content_for(:page_title) do %>
  <% @page_title = "New recipe" %>
  <h1>New recipe</h1>
<% end %>

<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to "Recipes", recipes_path %>
    <span class="divider">&raquo;</span>
    New
  <% end %>
<% end %>

<%= form_for(:recipe, :url => recipes_path) do |f| %>

  <%= render("form", { :form => f }) %>

  <div class="form-actions">
    <%= f.submit "Create recipe", class: "custom-button-add" %>
    <%= link_to "◄ Back to recipes", recipes_path, class: "custom-button-back" %>
  </div>
<% end %>
