<% content_for(:page_title) do %>
  <% @page_title = "Recipe #{@recipe.name}" %>
  <h1>Recipe: <%= @recipe.name %></h1>
<% end %>

<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to "Recipes", recipes_path %>
    <span class="divider">&raquo;</span>
    Recipe <%= @recipe.name %>
  <% end %>
<% end %>

<section>
  <div class="row-fluid">
    <div class="span5">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Stages Connt</th>
            <td><%= @recipe.stages.count %></td>
          </tr>
          <tr>
            <th>Versions</th>
            <td><%= @recipe.version %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span5">
      <%= select_tag "version", options_for_select(all_recipe_versions, params[:version]), :id => "recipe_version" %>
      <%= link_to_function 'show', "location.href='#{recipe_path(@recipe)}?version=' + $('#recipe_version').val(); return false;", class: 'arrow_link' %>
      <%= link_to "Rollback", edit_recipe_path(@recipe, :version => params[:version]), class: "arrow_link" if not_latest_version and current_user.admin? %>
      <% if current_user.admin? %>
      <p>
        <%= link_to 'Edit latest version', edit_recipe_path(@recipe), class: 'arrow_link' %> |
        <%= link_to 'Delete all versions', recipe_path(@recipe), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'arrow_link' %>
      </p>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="row-fluid">
    <div class="span5">
      <h3>Description</h3>
      <%= simple_format @recipe.description %>
      <%= link_to 'Edit', edit_recipe_path(@recipe), class: 'arrow_link' %>
    </div>
    <div class="span5">
      <h3>Used by stage</h3>
      <%= render(:partial => 'stages')%>
    </div>
  </div>
</section>

<section>
  <div class="row-fluid">
    <h3>Body</h3>
    <div class="log_output ruby">
      <%= render :partial => 'preview', :locals => {:recipe => @recipe} %>
    </div>
  </div>
</section>
