<% if @project.configuration_parameters.empty? %>
  <p>
    No project wide configuration added yet.<br />
    Project configuration is overridden by stage configurations.
  </p>
<% else %>
  <div class="custom-table">
    <table class="table table-striped">
      <tr>
        <td>Name</td>
        <td>Value</td>
        <td>Prompt?</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      <% for config in @project.configuration_parameters %>
        <tr>
          <td><%= truncate(config.name, length: 25) %></td>
          <td><%= truncate(hide_password_in_value(config), length: 45) %></td>
          <td><%= config.prompt_status_in_html %></td>
          <td><%= link_to image_tag('icons/buttons/edit.png', :border => '0', :width => "25", :height => "25", :title => "Edit"), edit_project_project_configuration_path(@project, config) %></td>
          <td><%= link_to image_tag('icons/buttons/delete.png', :border => '0', :width => "25", :height => "25", :title => "Delete"), project_project_configuration_path(@project, config), data: { confirm: 'Are you sure?' }, method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
