<div id="project_users_list">
  <% if @project.users.empty? %>
    <br/>
    <strong>No users added yet.</strong>
    <br/>
  <% else %>
    <div class="custom-table small">
      <table>
        <tr>
          <td>Name</td>
          <td>Remove</td>
        </tr>
        <% for user in @project.users %>
          <tr>
            <td><%= h(user.login) + " ( #{link_to "Profile", user_path(user), :class => "bold"} )".html_safe %></td>
            <% if current_user.admin? -%>
              <td><%= link_to image_tag('icons/buttons/delete.png', :width => "25", :height => "25", :title => "Delete"), project_project_user_path(@project, user), :confirm => 'Are you sure?', :method => :delete %></td>
            <% end -%>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  <br/>
  <% if current_user.admin? -%>
    <%= form_tag(project_project_users_path(@project), :method => :post) do |f| %>
      <%= label_tag "Add User"%>
      <%= select_tag 'project_user', options_from_collection_for_select(User.non_admins, 'id', 'login') %>
      <br/>
      <%= submit_tag "Add", :class => "custom-button-add" %>
    <% end %>
  <% end %>
</div>