<% content_for(:page_title) do %>
  <% @page_title = "Projects" %>
  <h1 class="text-center">Projects</h1>
<% end %>
<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <li class="active">Projects</li>
  <% end %>
<% end %>

<section class="text-center">
  <h2><%= pluralize(Project.count, 'Project')%> listed</h2>

  <% if @projects.empty? %>
    No projects configured yet.<br/>
  <% else %>
      <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>View</th>
            <th>Description</th>
            <th>Stages</th>
            <th>Deploy</th>
            <th>Created</th>
            <th>Edit</th>
            <th>Clone</th>
            <th>Delete</th>
          </tr>
          <% @projects.each do |project| %>
            <tr>
              <td><%= h(project.name) %></td>
              <td><%= link_to image_tag('icons/png/blue/interrogation.png', :width => '25',:height => '25', :title => "View Project"), project_path(project) %></td>
              <td><%= project.description %></td>
              <td><%= project.stages.count %></td>
              <td><%= project.deployments.count %></td>
              <td><%= project.created_at.to_s(:date_with_day) %></td>
              <td><%= link_to image_tag('icons/buttons/edit.png', :width => "25", :height => "25", :title => "Edit"), edit_project_path(project) %></td>
              <td><%= link_to image_tag('icons/buttons/save.png', :width => "25", :height => "25", :title => "Clone Project"), clone_form_path(project) %></td>
              <td><%= link_to image_tag('icons/buttons/delete.png', :width => "25", :height => "25", :title => "Delete"), project_path(project), :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
            </tr>
          <% end %>
      </table>
  <% end %>
  <% if current_user.admin? -%>
    <p><%= link_to 'New project', new_project_path, class: 'arrow_link' %></p>
    <%  end -%>

  </section>
