<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to "Projects", projects_path %>
    <span class="divider">&raquo;</span>
    New
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "New project" %>
  <h1>New project</h1>
<% end %>

<section>
  <%= form_for @project, html: { class: "form-horizontal" } do |f| %>
  <%= render partial: 'form', locals: { form: f } %>
  <div class="form-actions">
    <%= f.submit "Create", class: "custom-button-add" %>
    <%= link_to "◄ Back to projects", projects_path, class: "custom-button-back" %>
  </div>
  <% end %>
</section>
